{% extends "base.html" %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}
    <div class="container">
        {% for item in cart %}
            {% with product=item.product %}
                <div class="stock-banner stock-banner-large stock-banner-large_auto-listing">
                    <div class="stock-banner-large-context">
                        <p class="stock-banner-large-caption">{{ product.category }}</p>
                        <a href="/courses/voliteli/kategorii-b/"><h2 class="stock-banner-large-title">{{ product.name }}</h2></a>
                        <div class="stock-banner-large-coin">
                            <div class="stock-banner-large-text">
                                <span class="stock-banner-large-title-small">Цена обучения без скидок</span>
                                <span class="stock-banner-large-summ">{{ item.total_price }} ₽ </span>

                            </div>

                        </div>
                        <div class="stock-banner-large-text">

                            {% autoescape off %}{{ product.content|truncatewords:10 }}{% endautoescape %}
                        </div>

                        <a href="{% url "orders:order_create" %}" class="banner-btn">Заполнить данные <i class="bottom-icon-arrow velvet-bg"></i> </a>
                    </div>
                    <a class="stock-banner-large-summ" href="{% url "cart:cart_remove" product.id %}">Удалить заказ</a>

                    <a href="{{ product.get_absolute_url }}">
                        <div class="stock-banner-bg-img-wrap-list">
                            <picture>
                                <img class="stock-banner-bg-img" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                            </picture>
                        </div>
                    </a>


                </div>



            {% endwith %}
        {% endfor %}

    </div>


{% endblock %}