{% extends 'base.html' %}
{% block title %}
    Заполнение данных
{% endblock %}
{% block content %}

    <div class="active">
        <form action="." method="post" class="zayavka modal-wrap">
            <div class="modal-submit reset-form active">
                <p class="submit-title">Оставить заявку</p>
                  {% for item in cart %}<p class="submit-caption">На обучение {{ item.product.name }} за {{ item.product.price }} ₽</p>{% endfor %}



        {{ form.as_p }}
        <button class="btn-submit" type="submit">Отправить <i class="right-velvet-icon"></i></button>
        {% csrf_token %}




{#                <button class="btn-submit" type="submit">Отправить <i class="right-velvet-icon"></i></button>#}
            </div>
        </form>
    </div>



{#    <h1>Checkout</h1>#}
{#    <div class="order-info">#}
{#        <h3>Your order</h3>#}
{#        <ul>#}
{##}
{#                <li>#}
{#                    {{ item.quantity }}x {{ item.product.name }}#}
{#                    <span>${{ item.total_price|floatformat:"2" }}</span>#}
{#                </li>#}
{#            {% endfor %}#}
{#            {% if cart.coupon %}#}
{#                <li>#}
{#                    "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% off)#}
{#                    <span>- ${{ cart.get_discount|floatformat:"2" }}</span>#}
{#                </li>#}
{#            {% endif %}#}
{#        </ul>#}
{##}
{#        <p>Total: ${{ cart.get_total_price_after_discount|floatformat:"2" }}</p>#}
{#    </div>#}
{#    <form action="." method="post" class="order-form">#}
{#        {{ form.as_p }}#}
{#        <p><input type="submit" value="Place order"></p>#}
{#        {% csrf_token %}#}
{#    </form>#}
{% endblock %}