{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block description %}{{ product.description }}{% endblock %}
{% block title %}{{ product.title }}{% endblock %}


{% block breadcrumbs %}
    <section class="breadcrumbstop">
        <div class="container">
            <ul class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/" class="breadcrumbs-item">
                        <span itemprop="name">Автошкола</span> </a>
                    <meta itemprop="position" content="1">
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/courses/" class="breadcrumbs-item">
                        <span itemprop="name">Курсы</span> </a>
                    <meta itemprop="position" content="2">
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/courses/{{ category_slug }}/" class="breadcrumbs-item">
                        <span itemprop="name">{{ product.category }}</span> </a>
                    <meta itemprop="position" content="3">
                </li>


                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <span itemprop="name">{{ product.name }}</span>
                    <meta itemprop="position" content="4">
                </li>
            </ul>
        </div>
    </section>
{% endblock breadcrumbs %}


{% block content %}


    <section class="auto">
        <div class="container">
            <div class="stock-banner stock-banner-large stock-banner-large_auto">
                <div class="stock-banner-large-context"><p class="stock-banner-large-caption">{{ product.category }}</p>
                    <h1 class="stock-banner-large-title">{{ product.name }}</h1>
                    <div class="stock-banner-large-coin">
                        <div class="stock-banner-large-left">
                            <span class="stock-banner-large-title-small">Стоимость</span>
                            <span class="stock-banner-large-summ">{{ product.price }} ₽</span>
                            {% if  product.price_sale %}
                            <span class="stock-banner-large-title-small">Цена обучения со скидкой</span>
                            <span class="stock-banner-large-summ">{{ product.price_sale }} ₽</span>
                            {% endif %}

                        </div>
{% if product.time %}
                        <div class="stock-banner-large-right">
                            <span class="stock-banner-large-title-small">Продолжительность обучения</span>
                            <span class="stock-banner-large-summ">{{ product.time }}</span>

                        </div>
                  {% endif %}
                    </div>


                    <form action="{% url "cart:cart_add" product.id %}" method="post">
                        {#                            {% bootstrap_form form %}#}

                        {{ cart_product_form }}
                        {% csrf_token %}
                        <input type="submit" class="button-.price-col-small-submit input" value="Записаться на курс">

                    </form>
                </div>
                <div class="stock-banner-bg-img-wrap">
                    <picture>
                        <source media="(max-width: 750px)" srcset="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="" class="stock-banner-bg-img">
                    </picture>
                </div>
            </div>
        </div>



        <div class="container">
        {% if  product.content_tr %}
            <div class="stock-banner treb content-padding stock-banner-large_auto">
                <p class="stock-banner-large-caption">Требования</p>
                {% autoescape off %} {{ product.content_tr }} {% endautoescape %}
            </div>
        {% endif %}
            <div class="stock-banner content-padding stock-banner-large_auto">
                {% autoescape off %} {{ product.content }} {% endautoescape %}
            </div>
        </div>


    </section>

    <section class="schoolHM">
        <div class="container">
            <div class="section-heading"><p class="heading-title">Преимущества обучения</p></div>
            <div class="callManager-advantages-wrapper">
                <div class="callManager-advantage-block callManager-advantage_7"><p>Официальное обучение в лицензированной автошколе</p></div>
                <div class="callManager-advantage-block callManager-advantage_4-3"><p>Практические занятия на собственном полигоне</p></div>
                <div class="callManager-advantage-block callManager-advantage_3"><p>На практическое вождение Вас заберут от автошколы</p></div>
                <div class="callManager-advantage-block callManager-advantage_8"><p>Оплата обучения в рассрочку</p></div>

            </div>
        </div>
    </section>


{% endblock %}