@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
}

h1, h2, h3, h4, h5 , h6 {
    font-family: 'Ubuntu', sans-serif; font-weight:normal;
}

a {
    text-decoration:none;
    color:#5993bb;
}

/*a:hover {*/
/*    color:#77b6e2;*/
/*}*/

a.button, input[type="submit"] {
    padding: 2.5rem 3rem 2.5rem 3rem;
    width: 100%;
    font-size: 2.8rem;
    font-weight: 500;
    border-radius: 3.6rem;
    background-color: #03b700;
    color: #fff;
    text-align: center;
}

a.button.light {
    color:#666;
    background:#ededed;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
}

table th, table td {
    text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#efefef;
}

tbody tr.subtotal {
    background:#ccc;
}

thead th, tbody tr.total {
    background:#5993bb;
    color:#fff;
    font-weight:bold;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:180px;
}

tbody td.num {
    text-align:right;
}

td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
}

form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

ul.errorlist {
   float:left;
   color:#ff0000;
   clear:both;
   font-size:13px;
   margin:0;
   padding:0;
}


#header {
    padding:10px 100px;
    font-size:18px;
    overflow:auto;
}

#subheader {
    background:#ececec;
    color:#444;
    padding:15px 100px;
    overflow:auto;
}

#header .logo {
    font-family: 'Ubuntu', sans-serif;
    float:left;
    color:#333;
    font-size:22px;
    margin-right:10%;
}

#subheader .cart {
    float:right;
    padding-top:4px;
}

#content {
    padding:0 100px;
    overflow:hidden;
}

#sidebar {
    width:220px;
    padding:30px 20px 0 0;
    float:left;
}

#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:#5993bb;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
}

#main {
    float:left;
    width: 96%;
    margin-right:-220px;
    overflow:hidden;
}

.product-list .item {
    width:25%;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
}

.product-list .item img {
    width:100%;
    margin-bottom:8px;
}

.product-detail {
    text-align:justify;
}

.product-detail .price {
    color:#333;
    font-size:28px;
    font-weight:bold;
}

.product-detail img {
    width:40%;
    float:left;
    padding:0 20px 20px 0;
}

.product-detail h1 {
    margin-bottom:0;
}

.product-detail h2 {
    margin-top:10px;
}

.order-form {
    float:left;
}

.order-info {
    float:right;
    width:300px;
    background:#efefef;
    padding:10px 20px;
    color:#333;
    border-bottom:4px solid #5993bb;
}

.order-info h3 {
    color:#5993bb;
}

.order-info ul li {
    margin:0;
    padding:0;
    font-size:14px;
}

.order-info p {
    font-weight:bold;
    float:right;
}

.order-info span {
    float:right;
}

.neg {
    color:#dc1616;
}

.languages {
   float:right;
   padding-top:4px;
   font-size:14px;
}

.languages ul {
    list-style:none;
    margin:0;
    padding:0;
    float:left;
}

.languages ul li {
    float:left;
    margin:0 0 0 10px;
    font-size:14px;
}

.languages p {
    float:left;
    margin:0;
}

.recommendations {
    clear:both;
}

.recommendations div {
    float:left;
}

.recommendations img {
    width:200px
}

.recommendations p {
    clear:both;
}

.recommendations.cart {
    width:60%;
    float:left;
    overflow:auto;
}

.recommendations.cart h3 {
    margin-top:0;
}

.recommendations.cart .item {
    margin-right:10px;
}

.recommendations.cart img {
    width:120px;
}

/* braintree hosted fields */
form div.field {
    font-size:13px;
    color:#666;
    width:300px;
    height:22px;
    margin-bottom:10px;
    padding:6px 12px;
    border:0;
    background:#efefef;

    border-radius:4px;
}



.price-form div {
     margin-right: 1rem;
     margin-bottom: 1rem;
}

.address-form-wrap {
    display: none;
}

.stock-banner-large-summ {
    font-weight: 700;
    font-size: 1.8rem;
    color: #b12323;
}
.stock-banner-large-title-small {
    margin-bottom: .5rem;
    font-weight: 400;
    font-size: 1.4rem;
    color: #949494;
}
.stock-banner-large-coin {
    display: flex;
    margin-bottom: 2rem;
}
.stock-banner-large-left {
    display: flex;
    flex-direction: column;
}
.stock-banner-large-right {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}
.stock-banner p {
      font-size: 1.3em;
    letter-spacing: normal;
    line-height: 1.5em;
    margin: 1%;
}
.content-padding {
    padding: 2% 1%;
}
.stock-banner-bg-img-wrap-list {
    position: absolute;
    top: 0;
    width: 57%;
    height: 100%;
    z-index: 1;
    float: right;
}
.container-singlepage {
    width: 180rem;
    margin: 0 auto;
}
.container-singlepage h1 {
    font-size: 4.8rem;
    font-weight: 700;
    margin-bottom: 2.2rem;
}
.container-singlepage h2 {
    font-size: 3.8rem;
    font-weight: 700;
    margin-bottom: 2.2rem;
}
.container-singlepage h3 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 2.2rem;
}

.container-singlepage p img {
border-radius: 3.8rem;
object-fit: cover;
    float: right;
}
.container-singlepage p {
        font-size: 2.6rem;
}






@media (max-width: 48em) {
    .address-form-mobile {
        display: none;
    }
.container-singlepage p img {
border-radius: 3.8rem;
object-fit: cover;
    float: inherit !important;
}
    .address-form-wrap {
        display: block;
    }
    .stock-banner-bg-img {
    border-radius: 3.8rem;
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    float: right;
}
    .stock-banner-bg-img-wrap-list {
    position: inherit;
    width: 100%;
    height: 100%;
    float: left;
}
    .stock-banner-large_auto-listing {
    min-height: 105rem;
    align-items: flex-start;
    padding-top: 6.5rem;
    padding-bottom: 45rem;
    height: initial;
    background-size: contain;
    background-position: bottom;
}
    .container-singlepage {
    width: 80rem;
    margin: 0 auto;
}


}