{% extends "base.html" %}
{% load static %}
{% block title %}Новости учебного заведения автошколы{% endblock %}
{% block description %}Новости учебного заведения автошколы по мере их актуальности{% endblock %}
{% block breadcrumbs %}
    <section class="breadcrumbstop">
        <div class="container">
            <ul class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/" class="breadcrumbs-item">
                        <span itemprop="name">Автошкола</span> </a>
                    <meta itemprop="position" content="1">
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/news/" class="breadcrumbs-item">
                        <span itemprop="name">Новости</span> </a>
                    <meta itemprop="position" content="2">
                </li>

            </ul>
        </div>
    </section>
{% endblock breadcrumbs %}

{% block content %}
    <section class="news">
        <div class="container">

            <div class="stock-banner stock-banner-large stock-banner-large_news">
                <div class="banner-large-context"><p class="stock-banner-large-caption">Полезное </p>
                    <h1 class="stock-banner-large-title">Новости автошколы</h1>
                    <div class="stock-banner-large-text"><p>В данном разделе представлены наши лицензии, а также все документы автошколы, включая основные требования, образовательные стандарты, устав, свидетельства и
                        другие</p></div>
                </div>
            </div>
            <div class="news-blocks">
{% for n in news %}

                <div class="news-block-item"><p class="news-block-date">{{ n.created }}</p>
                    <p class="news-block-title">{{ n.name }}</p>
                    <div class="news-text">{{ n.content }}</div>
                    <a href="{{ n.slug }}" class="news-link" title="">Читать далее<i class="bottom-icon-arrow gray-bg"></i></a></div>

{% endfor %}
            </div>



        {% if is_paginated %}
<div class="news-tools desktop pagination" style="display: block;">
{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}" class="news-page-prev pagination-arrow prev"><i class="prev-arrow-icon"></i></a>
{% endif %}
        <p>
        {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}

        </p>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="news-page-next pagination-arrow next"><i class="next-arrow-icon"></i></a>
{% endif %}
</div>
         {% endif %}

        </div>
    </section>


{% if is_paginated %}
            <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
            </div>
        {% endif %}



{% endblock %}