<footer class="footer">
    <div class="footer-top">
        <div class="container footer-top-container">
            <div class="footer-top-col-1"><p class="footer-large-title">С нами можно связаться</p>
                <p class="footer-caption">По будням с 10:00 до 20:00 МСК</p> <a class="footer-request-call">Заказать звонок <i class="right-velvet-icon"></i></a></div>
            <div class="footer-top-col-2">
                <div class="footer-top-block-top">
                    <a href="tel:+70000000" class="footer-block-large" onclick="ym(25082978, 'reachGoal', 'SEND_ZAY', {URL: document.location.href});  return true;">+7(902)814-23-09</a>
                    <p class="footer-block-caption">Бесплатно по России</p></div>
                <div class="footer-top-block-bottom"><a href="mailto:nnu86@mail.ru" class="footer-block-large">nnu86@mail.ru</a>
                    <p class="footer-block-caption">Ответим в течение рабочего дня</p></div>
            </div>
            <div class="footer-top-col-3">
                <div class="footer-top-block-top"><a href="tel:+70000000" class="footer-block-large" onclick="ym(25082978, 'reachGoal', 'SEND_ZAY', {URL: document.location.href});  return true;">+7(902)814-23-09</a>
                    <p class="footer-block-caption">Telegram, Viber, Wathsap</p></div>
                <div class="footer-block-social"><a href="https://viber.click/#" class="footer-social-item footer-social-viber"></a>
                    <a href="#" target="_blank"
                                                                                                                                                  class="footer-social-item footer-social-telegram"></a> <a
                        href="https://api.whatsapp.com/send?phone=79096638070" class="footer-social-item footer-social-whatsapp"></a></div>
            </div>
        </div>
    </div>
    <div class="footer-middle">
        <div class="container footer-middle-container">
            <div class="footer-middle-col"><p class="footer-middle-col-title">Автошкола</p>
                <ul class="footer-middle-col-list">
                    <li class="footer-middle-col-item"><a href="onlajn-obuchenie/index.html">Онлайн-обучение</a></li>
                    <li class="footer-middle-col-item"><a href="vyezd-menedzhera/index.html">Вызвать менеджера </a></li>
                    <li class="footer-middle-col-item"><a href="test-drive/index.html">Тест-драйв</a></li>
                    <li class="footer-middle-col-item"><a href="https://www.youtube.com/channel/UCpdxPsZzli44zmKkhDSR5Cw/" target="_blank">Видео</a></li>
                </ul>
            </div>
            <div class="footer-middle-col"><p class="footer-middle-col-title">Цены</p>
                <ul class="footer-middle-col-list">
                    <li class="footer-middle-col-item"><a href="ceny/index.html">Наши цены</a></li>
                    <li class="footer-middle-col-item"><a href="kalkulyator/index.html">Калькулятор</a></li>
                    <li class="footer-middle-col-item"><a href="akcii/index.html">Акции</a></li>
                </ul>
            </div>
            <div class="footer-middle-col"><p class="footer-middle-col-title">О нас</p>
                <ul class="footer-middle-col-list">
                    <li class="footer-middle-col-item"><a href="raspisanie/index.html">Расписание</a></li>
                    <li class="footer-middle-col-item"><a href="otzyvy/index.html">Отзывы</a></li>
                    <li class="footer-middle-col-item"><a href="nasha-komanda/index.html">Наша команда</a></li>
                    <li class="footer-middle-col-item"><a href="nashi-dokumenty/index.html">Документы</a></li>
                </ul>
            </div>
            <div class="footer-middle-col"><p class="footer-middle-col-title">Услуги</p>
                <ul class="footer-middle-col-list">
                    <li class="footer-middle-col-item"><a href="obuchenie-vozhdeniyu-mkpp/index.html">Обучение вождению МКПП</a></li>
                    <li class="footer-middle-col-item"><a href="obuchenie-vozhdeniyu-akpp/index.html">Обучение вождению АКПП</a></li>
                    <li class="footer-middle-col-item"><a href="avtoshkola-dlya-zhenshchin/index.html">Автошкола для женщин</a></li>
                    <li class="footer-middle-col-item"><a href="uroki-vozhdeniya/index.html">Уроки вождения</a></li>
                </ul>
            </div>
            <div class="footer-middle-col"><p class="footer-middle-col-title">Информация</p>
                <ul class="footer-middle-col-list">
                    <li class="footer-middle-col-item"><a href="chasto-zadavaemye-voprosy/index.html">Часто задаваемые вопросы</a></li>
                    <li class="footer-middle-col-item"><a href="stati/index.html">Статьи</a></li>
                    <li class="footer-middle-col-item"><a href="karta-saita/index.html">Карта сайта</a></li>
                    <li class="footer-middle-col-item"><a href="sitemap/index.html">Полезная информация</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-lower">
        <div class="container footer-lower-container"><p class="footer-lower-strong">2000 - 2021 © ННУ "УПЦПО"</p>
            <p class="footer-lower-text">Информация, представленная на сайте, не является публичной офертой.</p>
            <p class="footer-lower-text">Лицензия на осуществление образовательной деятельности серия 86Л01 №0000001, рег номер </p>
            <p class="footer-lower-text">037432 от 26 апреля 2000, выданы Департаментом образования города Ханты-Мансийска.</p></div>
    </div>
</footer>
