<footer class="footer">
    <div class="footer-top">
        <div class="container footer-top-container">
            <div class="footer-top-col-1"><p class="footer-large-title">С нами можно связаться</p>
                <p class="footer-caption">с 08:00 до 20:00 </p>
                <a href="tel:+79028142309" class=" footer-request-call footer-block-large">  +7(902)814-23-09 <i class="right-velvet-icon"></i></a>
{#                <a class="footer-request-call">Заказать звонок <i class="right-velvet-icon"></i></a>#}

            </div>
            <div class="footer-top-col-2">
                <div class="footer-top-block-top">
                    <a href="mailto:nnu86@mail.ru" class="footer-block-large">info@ugraavto.ru</a>
                     <!--<a href="tel:+70000000" class="footer-block-large">+7(902)814-23-09</a>
                   <p class="footer-block-caption">Бесплатно по России</p> -->

                </div>
                <div class="footer-top-block-bottom">
                    <p class="footer-block-caption">Ответим в течение рабочего дня</p>

                </div>
            </div>
            <div class="footer-top-col-3">
                <div class="footer-top-block-top">
                    <!-- <a href="tel:+70000000" class="footer-block-large" onclick="ym(25082978, 'reachGoal', 'SEND_ZAY', {URL: document.location.href});  return true;">+7(902)814-23-09</a>
                    -->
                    <p class="footer-block-caption">Telegram, Viber, Wathsap</p></div>
                <div class="footer-block-social">
                    <a href="viber://chat?number=%2B79028142309" class="footer-social-item footer-social-viber"></a>
                    <a href="http://t.me/vptchaikovsky" target="_blank" class="footer-social-item footer-social-telegram"></a>
                    <a href="https://api.whatsapp.com/send/?phone=79028142309&text=Здравствуйте%2C+у+меня+есть+вопрос+по+обучению" class="footer-social-item footer-social-whatsapp"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-middle">
        <div class="container footer-middle-container">
            <div class="footer-middle-col"><p class="footer-middle-col-title">Автошкола</p>
                <ul class="footer-middle-col-list">
                    <li class="footer-middle-col-item"><a href="/about/">О нас</a></li>
                    <li class="footer-middle-col-item"><a href="/news/">Новости</a></li>
                    <li class="footer-middle-col-item"><a href="#" target="_blank">Видео</a></li>
                </ul>
            </div>
            <div class="footer-middle-col"><p class="footer-middle-col-title">Цены</p>
                <ul class="footer-middle-col-list">
                    <li class="footer-middle-col-item"><a href="#">Наши цены</a></li>
                    <li class="footer-middle-col-item"><a href="#">Акции</a></li>
                </ul>
            </div>
            <div class="footer-middle-col"><p class="footer-middle-col-title">Обучение</p>
                <ul class="footer-middle-col-list">
                    <li class="footer-middle-col-item"><a href="#">Расписание</a></li>
                    <li class="footer-middle-col-item"><a href="#">Наша команда</a></li>
                    <li class="footer-middle-col-item"><a href="#">Документы</a></li>
                </ul>
            </div>
            <div class="footer-middle-col"><p class="footer-middle-col-title">Услуги</p>
                <ul class="footer-middle-col-list">
                    <li class="footer-middle-col-item"><a href="#">Обучение вождению МКПП</a></li>
                    <li class="footer-middle-col-item"><a href="#">Обучение вождению АКПП</a></li>
                    <li class="footer-middle-col-item"><a href="#">Автошкола для женщин</a></li>
                    <li class="footer-middle-col-item"><a href="#">Уроки вождения</a></li>
                </ul>
            </div>
            <div class="footer-middle-col"><p class="footer-middle-col-title">Информация</p>
                <ul class="footer-middle-col-list">
                    <li class="footer-middle-col-item"><a href="#">Часто задаваемые вопросы</a></li>
                    <li class="footer-middle-col-item"><a href="#">Статьи</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-lower">
        <div class="container footer-lower-container"><p class="footer-lower-strong">2004 - 2021 © ННУ "УПЦПО"</p>
            <p class="footer-lower-text">Информация, представленная на сайте, не является публичной офертой.</p>
            <p class="footer-lower-text">Лицензия на осуществление образовательной деятельности серия 86Л01 №0002362, рег номер </p>
            <p class="footer-lower-text">3088 от 27 апреля 2018, выданы Департаментом образования города Ханты-Мансийска.</p></div>
    </div>
</footer>
