{% extends "base.html" %}
{% load static %}
{% block title %}Негосударственное учебное заведение Чайковского в Ханты-Мансийске{% endblock %}
{% block description %}Негосударственное учебное заведение Чайковского в Ханты-Мансийске. Обучение по специальностям.{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}


    <section class="main-slider">
        <div class="container">
            <div class="main-swiper swiper-container-fade swiper-container-initialized swiper-container-horizontal">
                <div class="swiper-wrapper">

                    {% for slid in homepage %}



                        <div class="swiper-slide main-swiper-slide main-slide-block-1 swiper-slide-active">
                            <div class="main-slide-block">

                                <p class="main-slide-block-title">{{ slid.name }}</p>
                                {{ slid.content }}


                            </div>
                            <div class="main-slide-img"><img src="/media/{{ slid.image }}" alt="{{ slid.name }}"></div>
                            <a href="{{ slid.url }}" class="main-slider-btn"> Подробнее <i class="bottom-icon-arrow velvet-bg"></i> </a>

                        </div>
                    {% endfor %}

                    <div class="main-swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>
        </div>
    </section>



        <section class="best-price" id="aside1">
            <div class="container">
                <div class="section-heading wow fadeIn">
                    <p class="heading-title">Лучшие цены</p>
                    <p class="heading-caption">Цены на обучение теории включают весь пакет документов для прохождения экзаменов в ГАИ Москвы</p>
                    <a href="#" class="heading-btn">Все цены <i class="bottom-icon-arrow velvet-bg"></i></a></div>
                <div class="best-price-wrapper desk">

                    <div class="news-blocks">

                         {% for slid in view.school_cat %}
                        <div class="lesson-block-item">
                            <a href="/courses/{{ slid.slug }}/"><img src="/media/{{ slid.image }}" alt="{{ slid.name }}">

                            <h3>{{ slid.name }}</h3>
{#                                <i class="bottom-icon-arrow"></i>#}
                            </a></div>

                        {% endfor %}


                    </div>


{#                    {% for slid in view.school_cat %}#}
{##}
{##}
{##}
{#                    <a href="/courses/{{ slid.slug }}" class="best-price-block best-price-block_a wow zoomIn slow">#}
{#                        <img src="/media/{{ slid.image }}" alt="{{ slid.name }}"></a>#}
{#{% endfor %}#}




                </div>

            </div>

        </section>



    {% for slid in view.all_settings %}
                <section class="large-cards">
            <div class="container">
                <div class="large-cards-wrapper">
                    <div class="large-card large-card_yellow large-card_test-drive"><p class="large-card-title">{{ slid.name_prime_block }}</p>
                        <p class="large-card-text">{{ slid.content_prime_block }}</p>
<a href="{{ slid.url_prime_block }}" class="large-card-btn">Подробнее<i class="bottom-icon-arrow white-bg"></i></a>
                    </div>
                    <div class="large-card large-card_velvet large-card_year-round"><p class="large-card-title">{{ slid.name_second_block }}</p>
                        <p class="large-card-text">{{ slid.content_second_block }}</p>
                        <a href="{{ slid.url_second_block }}" class="large-card-btn">Подробнее<i class="bottom-icon-arrow white-bg"></i></a></div>
                </div>
            </div>
        </section>

    {% endfor %}


{% include 'block_kontakt.html' %}


        <section class="seo">
            <div class="container">
                <div class="seo-container">
<div class="wow fadeIn slow" >
                 {% autoescape off %}
                     {% for content in view.all_settings %}
                         {{ content.content }}
                    {% endfor %}
 {% endautoescape %}

                   </div>
            </div>
            </div>
        </section>




{% endblock %}