<p><strong>Отчет по результатам самообследования образовательной организации Частное учреждение дополнительного профессионального образования
    «Учебно-производтвенный центр профессионального образования» за 2020год. </strong></p>



<p>(наименование организации) </p>

<p><u>Самобследование проведено учредителями учреждения Чайковским Павлом Павловичем, являющимся директором учреждения , Исламнуровой Марианой Павловной</u></p>

<p> (должность, фамилия, инициалы лица (лиц), проводившего (их) самообследование) </p>

<p><strong>1. Оценка образовательной деятельности</strong></p>

<p>Образовательная деятельность <strong>ЧУ ДПО «Учебно-производтвенный центр профессионального образования»</strong></p>

<p>соответствует требованиям Федерального закона от 10 декабря 1995 г. № 196-ФЗ «О безопасности дорожного движения»; Федерального закона от 29 декабря 2012 г. № 273-ФЗ «Об образовании в Российской Федерации»; Примерных
    программ профессионального обучения водителей транспортных средств соответствующих категорий и подкатегорий, утвержденных приказом Минобрнауки России от 26.12.2013 года № 1408 (зарегистрирован Минюстом России
    09.07.2014 года, регистрационный № 33026); Порядка организации и осуществления образовательной деятельности по основным программам профессионального обучения, утвержденного приказом Министерства образования и науки
    Российской Федерации от 18 апреля 2013 г. № 292. </p>

<p><strong>2. Оценка системы управления организации</strong></p>

<p>Управление образовательной организацией осуществляется в соответствии с законодательством Российской Федерации и Уставом <strong>ЧУ ДПО «Учебно-производственный центр профессионального образования»</strong></p>

<p><strong>3. Оценка содержания и качества подготовки обучающихся </strong>за 2019-2020 год </p>

<table>

    <tbody>

    <tr>
        <td rowspan="4"><p>Количество обучающихся </p></td>
        <td colspan="4"><p>Отчислено в процессе обучения </p></td>
        <td colspan="2"><p>Допущено </p>
            <p>к квалифика- </p>
            <p>ционному </p>
            <p>экзамену </p></td>
        <td colspan="8"><p>Сдали квалификационный экзамен </p></td>
        <td colspan="2"><p>Не сдали квалифи-кационный экзамен </p></td>
        <td colspan="2"><p>Сдали экзамен </p>
            <p>в ГИБДД </p>
            <p>с первого раза </p></td>

    </tr>

    <tr>
        <td colspan="2"><p>Всего </p></td>
        <td colspan="2"><p>В том числе </p>
            <p>по неуспе- </p>
            <p>ваемости </p></td>
        <td colspan="2"><p>Всего </p></td>
        <td colspan="6"><p>Из них с оценками </p></td>

    </tr>

    <tr>
        <td colspan="2"><p>отлично </p></td>
        <td colspan="2"><p>хорошо </p></td>
        <td colspan="2"><p>удовл </p></td>

    </tr>

    <tr>

        <td><p>чел </p></td>

        <td><p>% </p></td>

        <td><p>чел </p></td>

        <td><p>% </p></td>

        <td><p>чел </p></td>

        <td><p>% </p></td>

        <td><p>чел </p></td>

        <td><p>% </p></td>

        <td><p>чел </p></td>

        <td><p>% </p></td>

        <td><p>чел </p></td>

        <td><p>% </p></td>

        <td><p>чел </p></td>

        <td><p>% </p></td>

        <td><p>чел </p></td>

        <td><p>% </p></td>

        <td><p>чел </p></td>

        <td><p>% </p></td>

    </tr>

    <tr>

        <td><p>275 </p></td>

        <td><p>3 </p></td>

        <td><p>0.01 </p></td>

        <td><p>3 </p></td>

        <td><p>0.01 </p></td>

        <td><p>201 </p></td>

        <td><p>90.7 </p></td>

        <td><p>201 </p></td>

        <td><p>100 </p></td>

        <td><p>201 </p></td>

        <td></td>

        <td></td>

        <td></td>

        <td></td>

        <td></td>

        <td></td>

        <td></td>

        <td><p>201 </p></td>

        <td><p>92 </p></td>

    </tr>

    </tbody>

</table>

<p><strong>4. Оценка организации учебного процесса</strong></p>

<p>Организация учебного процесса соответствует требованиям программы профессиональной подготовки Водителей транспортных средств кат В, С методическим рекомендациям по организации образовательного процесса по
    профессиональному обучению водителей транспортных средств соответствующих категорий, подкатегорий, утвержденным руководителем образовательной организации. </p>

<p><strong>5. Оценка качества кадрового обеспечения</strong></p>

<p>Педагогические работники, реализующие программу профессионального обучения водителей транспортных средств, в том числе преподаватели учебных предметов, мастера производственного обучения, удовлетворяют
    квалификационным требованиям, указанным в квалификационных справочниках по соответствующим должностям. </p>

<p><strong>6. Оценка качества учебно-методического обеспечения</strong></p>

<p>Учебно-методические материалы позволяют реализовать образовательные программы профессионального обучения водителей транспортных средств в полном объеме и представлены: </p>

<ul>

    <li>примерными программами профессиональной подготовки водителей транспортных средств, утвержденными в установленном порядке;</li>

    <li>программами профессиональной подготовки водителей транспортных средств, согласованными с Госавтоинспекцией и утвержденными руководителем организации, осуществляющей образовательную деятельность;</li>

    <li>методическими рекомендациями по организации образовательного процесса, утвержденными руководителем организации, осуществляющей образовательную деятельность;</li>

    <li>материалами для проведения промежуточной и итоговой аттестации обучающихся, утвержденными руководителем организации, осуществляющей образовательную деятельность.</li>

</ul>

<p><strong>7. Оценка качества библиотечно-информационного обеспечения</strong></p>

<p>Имеющаяся в наличии учебная литература и учебно-наглядные пособия позволяют выполнить образовательные программы профессиональной подготовки в полном объеме. </p>

<p><strong>8. Оценка материально-технической базы</strong> Учебные автомобили переоборудованный в соответствии с требованиями нормативных документов </p>

<ul>

    <li>КIА PICANTO ТА в226 оа 186 кат В</li>

    <li>КIА PICANTO ТА в185 оа 186 кат В</li>

    <li>КIА PICANTO м388та86 кат В</li>

    <li>КIА PICANTO ТА р422ам186. кат В</li>

    <li>КIА PICANTO т410св86 АКПП кат В</li>

    <li>ВАЗ-21214 а029 хх186 кат В</li>

    <li>RENAULT LOGAN у885ас186 кат В</li>

    <li>RENAULT LOGAN а945ро186 кат В</li>

    <li>RENAULT LOGAN у884ас186 кат В</li>

    <li>RENAULT LOGAN в117св86 кат В</li>

    <li>HYUNDAI SOLARIS т827ас186 АКПП кат В</li>

    <li>UAZ-23632 Pickup а588мм186. кат ВЕ</li>

    <li>кат ВЕ</li>

    <li>Прицеп а0033786 кат В</li>

    <li>Прицеп а0895986 катВ</li>

    <li>Прицеп а0343886 катВ</li>

    <li>УАЗ33909 м332кт86 кат ВЕ</li>

    <li>Прицеп 86ук4462</li>

    <li> КАМАЗ 43256-R4 в729мо186</li>

    <li>КАМАЗ Т 1425 43255-G5 в767ра186</li>

    <li>Прицеп 77оу 449133 ан834282 750 кг</li>

</ul>

<p>Количество учебных транспортных средств, соответствующих установленным требованиям: </p>

<p>МеханическихМКПП <u>14, АКПП 2 , </u> прицепов <u> пять</u></p>

<p>Данное количество механических транспортных средств соответствует 360 количеству обучающихся в год<sup>[1]</sup>.
    Расчет количества необходимых механических транспортных средств осуществляется по формуле: </p>

<p> = ((56*360): (14.4*24.5*12))+1=5,76 </p>

<p>транспортных средств на одну группу </p>

<p>где Nтс - количество автотранспортных средств; </p>

<p>Т - количество часов вождения в соответствии с учебным планом; </p>

<p>К - количество обучающихся в год; </p>

<p>t - время работы одного учебного транспортного средства равно: 7,2 часа - один мастер производственного обучения на одно учебное транспортное средство, 14,4 часа - два мастера производственного обучения на одно
    учебное транспортное средство; </p>

<p>24,5 - среднее количество рабочих дней в месяц; </p>

<p>12 - количество рабочих месяцев в году; </p>

<p>1 - количество резервных учебных транспортных средств. </p>

<p><strong>ЧУ ДПО УПЦПО на праве собственности имеется 13 автомобилей в т.ч 2 автомобиля с автоматической коробкой передач и 5 прицепов </strong></p>

<p><strong>Сведения о мастерах производственного обучения</strong></p>

<table>

    <tbody>

    <tr>

        <td><p>Ф. И. О. </p></td>

        <td><p>Серия, № водительского удостоверения, </p>
            <p>дата выдачи </p></td>

        <td><p>Разрешенные категории, подкатегории ТС </p></td>

        <td><p>Документ на право обучения вождению ТС данной категории, подкатегории<sup><sup>[2]</sup></sup></p></td>

        <td><p>Удостоверение о повышении квалификации (не реже чем один раз в три года)<sup><sup>[3]</sup></sup></p></td>

        <td><p>Оформлен в соответствии с трудовым законодательством (состоит в штате или иное) </p></td>

    </tr>

    <tr>

        <td><p>Исламнуров Альберт Салаватович </p></td>

        <td><p>99 01 234300 от 18.07.2018 г. </p></td>

        <td><p>( В,С) </p></td>

        <td><p>Диплом о профессиональной переподготовке в сфере педагогики ДПО и ПО </p></td>

        <td><p>Педагогические основы деятельности мстера производственного обучения </p></td>

        <td><p>в штате </p></td>

    </tr>

    <tr>

        <td><p>Вельчев Валерий Захарович </p></td>

        <td><p>86 УМ 980328 от 19.05.2011 г. </p></td>

        <td><p>(А,В,С,Д,Е) </p></td>

        <td><p>Диплом о профессиональной переподготовке в сфере педагогики ДПО и ПО </p></td>

        <td><p>Педагогические основы деятельности мстера производственного обучения </p></td>

        <td><p>в штате </p></td>

    </tr>

    <tr>

        <td><p>Меньшенин Дмитрий Владимирович </p></td>

        <td><p>86 21174690 от 20.01.2017 г. </p></td>

        <td><p>(А,В,С,ВЕ,СЕ) </p></td>

        <td><p>Диплом о профессиональной переподготовке в сфере педагогики ДПО и ПО </p></td>

        <td><p>Педагогические основы деятельности мстера производственного обучения </p></td>

        <td><p>в штате </p></td>

    </tr>

    <tr>

        <td><p>Чайковский Павел Павлович </p></td>

        <td><p>8603148428 </p></td>

        <td><p>( В,С) </p></td>

        <td><p>Диплом о профессиональной переподготовке в сфере педагогики ДПО и ПО </p></td>

        <td><p>Педагогические основы деятельности мстера производственного обучения </p></td>

        <td><p>в штате </p></td>

    </tr>

    <tr>

        <td><p>Исламнурова Мариана Павловна </p></td>

        <td><p>8603046074 </p>
            <p>От 24.06.2011 </p></td>

        <td><p>В </p></td>

        <td><p>Диплом вышего образования </p>
            <p>Диплом о профессиональной переподготовке в сфере педагогики ДПО и ПО </p></td>

        <td><p>Педагогические основы деятельности мстера производственного обучения </p></td>

        <td><p>В штате </p></td>

    </tr>

    </tbody>

</table>

<p><strong>Сведения о преподавателях учебных предметов</strong></p>

<table>

    <tbody>

    <tr>

        <td><p>Ф. И. О. </p></td>

        <td><p>Учебный предмет </p></td>

        <td><p>Документ о высшем или среднем профессиональном образовании по направлению подготовки "Образование и педагогика" или в области, соответствующей преподаваемому предмету, либо о высшем или среднем
            профессиональном образовании и дополнительное профессиональное образование по направлению деятельности
            <sup><sup>[4]</sup></sup>
        </p></td>

        <td><p>Удостоверение о по-вышении квалификации (не реже чем один раз в три года)<sup><sup>[5]</sup></sup></p></td>

        <td><p>Оформлен в соответствии с трудовым законодательством (состоит в штате или иное) </p></td>

    </tr>

    <tr>

        <td><p>Чайковский Павел Павлович </p></td>

        <td><p>1 Основы законодательства в сфере дорожного движения </p>
            <p>2 Основы управления транспортными средствами </p>
            <p>3 Основы управления транспортными средствами категории "B" </p></td>

        <td><p>Диплом высшего образования Кишиневский сельскохозяйственный институт,инженер-механик </p></td>

        <td><p>Диплом о профессиональной переподготовке в сфере педагогики ДПО и ПО </p></td>

        <td><p>в штате </p></td>

    </tr>

    <tr>

        <td><p>Исламнуров Альберт Салаватович </p></td>

        <td><p>1 Основы законодательства в сфере дорожного движения </p>
            <p>2 Основы управления транспортными средствами </p>
            <p>3 Основы управления транспортными средствами категории "B" </p></td>

        <td><p>Диплом высшего образования </p></td>

        <td><p>Диплом о профессиональной переподготовке в сфере педагогики ДПО и ПО </p></td>

        <td><p>совместитель </p></td>

    </tr>

    <tr>

        <td><p>Чайковский Владимир Павлович </p></td>

        <td><p>1 Основы законодательства в сфере дорожного движения </p>
            <p>2 Основы управления транспортными средствами </p>
            <p>3 Устройство и техническое обслуживание транспортных средств категории "B" как объектов управления </p>
            <p>4 Основы управления транспортными средствами категории "B" </p></td>

        <td><p>Диплом высшего образования </p></td>

        <td><p>Диплом о профессиональной переподготовке в сфере педагогики ДПО и ПО </p></td>

        <td><p>В штате </p></td>

    </tr>

    <tr>

        <td><p>Исламнурова Мариана Павловна </p></td>

        <td><p>1 Основы законодательства в сфере дорожного движения </p>
            <p>2 Основы управления транспортными средствами </p>
            <p>3 Устройство и техническое обслуживание транспортных средств категории "B" как объектов управления </p>
            <p>4 Основы управления транспортными средствами категории "B" </p></td>

        <td><p>Диплом вышего образования </p></td>

        <td><p>Диплом о профессиональной переподготовке в сфере педагогики ДПО и ПО </p></td>

        <td><p>В штате </p></td>

    </tr>

    <tr>

        <td><p>Коблова Елена Викторовна Геннадьевич </p></td>

        <td><p>1 Психофизиологические основы деятельности водителя </p>
            <p>2 Первая помощь при дорожно-транспортном происшествии </p></td>

        <td><p>Диплом высшего образования Саратовский государственный университет Н.Г.Чернышевского ,врач </p></td>

        <td><p>Диплом о профессиональной переподготовке в сфере педагогики ДПО и ПО </p></td>

        <td><p>совместитель </p></td>

    </tr>

    </tbody>

</table>

<p><strong>Сведения о закрытой площадке или автодроме<sup><strong><sup>[6]</sup></strong></sup></a></strong></p>

<p>Сведения о наличии в собственности закрытой площадки или автодрома <u>Закрытая площадка кадастровый номет 86:12:0202001:300 ул.Привольная </u></p>

<p>Размеры закрытой площадки или автодрома<sup><sup>[7]</sup></sup></a> <strong>9955 м2</strong></p>

<p>(в соответствии с правоустанавливающими документами и итогами фактического обследования) </p>

<p>Наличие ровного и однородного асфальто- или цементобетонное покрытия, обеспечивающее круглогодичное функционирование на участках закрытой площадки или автодрома (в том числе автоматизированного) для первоначального
    обучения вождению транспортных средств, используемые для выполнения учебных (контрольных) заданий </p>

<p>Наличие установленного по периметру ограждения, препятствующее движению по их территории транспортных средств и пешеходов, за исключением учебных транспортных средств, используемых в процессе обучения </p>

<p>Наличие наклонного участка (эстакады) с продольным уклоном в пределах 8–16%<sup><sup>[8]</sup></sup></a></p>

<p>Размеры и обустройство техническими средствами организации дорожного движения обеспечивают выполнение каждого из учебных (контрольных) заданий, предусмотренных программой обучения кат В </p>

<p>Коэффициент сцепления колес транспортного средства с покрытием не ниже 0,4<sup><sup>[9]</sup></sup></a></p>

<p>Наличие оборудования, позволяющего разметить границы для выполнения соответствующих заданий<sup><sup>[10]</sup></sup></a></p>

<p>Поперечный уклон, обеспечивающий водоотвод </p>

<p> Продольный уклон (за исключением наклонного участка) не более 100‰ </p>

<p>Наличие освещенности<sup><sup>[11]</sup></sup></a></p>

<p>Наличие перекрестка (регулируемого или нерегулируемого)нерегулируемый </p>

<p>Наличие пешеходного перехода </p>

<p>Наличие дорожных знаков (для автодромов) </p>

<p>Наличие средств организации дорожного движения (для автодромов)12 </p>

<p>Представленные сведения соответствуют требованиям, предъявляемым к закрытой площадке ул.Привольная г.Хнты-Мансийск </p>

<p>(закрытой площадке, автодрому, автоматизированному автодрому) </p>

<p><strong>Сведения об оборудованных учебных кабинетах:</strong></p>

<p>Сведения о наличии в собственности или на ином законном основании оборудованных учебных кабинетов <u>Свидетельство о государственной регистрации права собственности ННУ УПЦПО</u></p>

<p>(реквизиты правоустанавливающих документов, срок действия) </p>

<p>Количество оборудованных учебных кабинетов </p>

<p>В ННУ УПЦПО на праве собственности имеется в наличии помещение <strong>193.5 м2 в т.ч </strong></p>

<table>

    <tbody>

    <tr>

        <td><p>№ п/п </p></td>

        <td><p>По какому адресу осуществления образовательной деятельности находится оборудованный учебный кабинет </p></td>

        <td><p>Площадь (кв. м) </p></td>

        <td><p>Количество посадочных мест </p></td>

    </tr>

    <tr>

        <td><p><strong>Кабинет ПДД №1(теоретический курс)</strong></p></td>

        <td><p>ул.Обская 29 г.Ханты-Мансийск </p></td>

        <td><p><strong>22,6м2</strong></p></td>

        <td><p><strong>30чел</strong></p></td>

    </tr>

    <tr>

        <td><p><strong>Кабинет ПДД №2(теоретический курс)</strong></p></td>

        <td><p>ул.Обская 29 г.Ханты </p></td>

        <td><p><strong>23.2 м2</strong></p></td>

        <td><p><strong>30чел</strong></p></td>

    </tr>

    <tr>

        <td><p><strong>Кабинет Устройства №3(теоретический курс)</strong></p></td>

        <td><p>ул.Обская 29 г.Ханты </p></td>

        <td><p><strong>30.4 м2</strong></p></td>

        <td><p><strong>30чел</strong></p></td>

    </tr>

    </tbody>

</table>

<p>Данное количество оборудованных учебных кабинетов соответствует 2 группам в месяц общего числа групп<sup><sup>[12]</sup></sup></a>.
    Наполняемость учебной группы не превышает 30 человек<sup><sup>[13]</sup></sup></a>. </p>

<p>Расчетная формула для определения общего числа учебных кабинетов для теоретического обучения: </p>

<p><strong>= 134(Р)*2:0.75*121.6= <u>2.93</u></strong> помещения из расчета 2 групп в
    месяц </p>

<p>где П - число необходимых помещений; </p>

<p> - расчетное учебное время полного курса теоретического обучения на одну группу, в часах;
</p>

<p>n - общее число групп; </p>

<p>0,75 - постоянный коэффициент (загрузка учебного кабинета принимается равной 75%); </p>

<p> - фонд времени использования помещения в часах. </p>

<p><strong>Наличие учебного оборудования </strong></p>

<p><strong>Оборудование учебного кабинета №1,2,3 по адресу осуществления образовательной </strong></p>

<p><strong>деятельности ул.Обская 29 г.Ханты-Мансийск ХМАО-Югра</strong></p>

<p>Перечень учебного оборудования, необходимого для осуществления образовательной деятельности по программе профессиональной подготовки водителей транспортных средств категории «В» </p>

<table>

    <tbody>

    <tr>

        <td><p>Наименование учебного оборудования </p></td>

        <td><p>Единица </p>
            <p>измерения </p></td>

        <td><p>Количество </p></td>

        <td><p>Наличие </p></td>

    </tr>

    <tr>

        <td><p>Оборудование и технические средства обучения </p>
            <p>Тренажер<sup><sup>[14]</sup></sup></a></p>
            <p>Аппаратно-программный комплекс тестирования и развития психофизиологических качеств водителя (АПК) <sup><sup>[15]</sup></sup></a></p>
            <p>Детское удерживающее устройство </p>
            <p>Гибкое связующее звено (буксировочный трос) </p>
            <p>Тягово-сцепное устройство </p>
            <p>Компьютер с соответствующим программным обеспечением </p>
            <p>Мультимедийный проектор </p>
            <p>Экран (монитор, электронная доска) </p>
            <p>Магнитная доска со схемой населенного пункта<sup><sup>[16]</sup></sup></a></p>
            <p>Учебно-наглядные пособия<sup><sup>[17]</sup></sup></a></p>
            <p>Основы законодательства в сфере дорожного движения </p>
            <p>Дорожные знаки </p>
            <p>Дорожная разметка </p>
            <p>Опознавательные и регистрационные знаки </p>
            <p>Средства регулирования дорожного движения </p>
            <p>Сигналы регулировщика </p>
            <p>Применение аварийной сигнализации и знака аварийной остановки </p>
            <p>Начало движения, маневрирование. Способы разворота </p>
            <p>Расположение транспортных средств на проезжей части Скорость движения </p>
            <p>Обгон, опережение, встречный разъезд </p>
            <p>Остановка и стоянка </p>
            <p>Проезд перекрестков </p>
            <p>Проезд пешеходных переходов, и мест остановок маршрутных транспортных средств </p>
            <p>Движение через железнодорожные пути </p>
            <p>Движение по автомагистралям </p>
            <p>Движение в жилых зонах </p>
            <p>Перевозка пассажиров </p>
            <p>Перевозка грузов </p>
            <p>Неисправности и условия, при которых запрещается эксплуатация транспортных средств </p>
            <p>Ответственность за правонарушения в области дорожного движения </p>
            <p>Страхование автогражданской ответственности </p>
            <p>Последовательность действий при ДТП </p>
            <p>Психофизиологические основы деятельности водителя </p>
            <p>Психофизиологические особенности деятельности водителя </p>
            <p>Воздействие на поведение водителя психотропных, наркотических веществ, алкоголя и медицинских препаратов </p>
            <p>Конфликтные ситуации в дорожном движении </p>
            <p>Факторы риска при вождении автомобиля </p>
            <p>Основы управления транспортными средствами </p>
            <p>Сложные дорожные условия </p>
            <p>Виды и причины ДТП </p>
            <p>Типичные опасные ситуации </p>
            <p>Сложные метеоусловия </p>
            <p>Движение в темное время суток </p>
            <p>Посадка водителя за рулем. Экипировка водителя </p>
            <p>Способы торможения </p>
            <p>Тормозной и остановочный путь </p>
            <p>Действия водителя в критических ситуациях </p>
            <p>Силы, действующие на транспортное средство </p>
            <p>Управление автомобилем в нештатных ситуациях </p>
            <p>Профессиональная надежность водителя </p>
            <p>Дистанция и боковой интервал. Организация наблюдения в процессе управления транспортным средством </p>
            <p>Влияние дорожных условий на безопасность движения </p>
            <p>Безопасное прохождение поворотов </p>
            <p>Безопасность пассажиров транспортных средств </p>
            <p>Безопасность пешеходов и велосипедистов </p>
            <p>Типичные ошибки пешеходов </p>
            <p>Типовые примеры допускаемых нарушений ПДД </p>
            <p>Устройство и техническое обслуживание транспортных средств категории «В» как объектов управления </p>
            <p>Классификация автомобилей </p>
            <p>Общее устройство автомобиля </p>
            <p>Кузов автомобиля, системы пассивной безопасности </p>
            <p>Общее устройство и принцип работы двигателя </p>
            <p>Горюче-смазочные материалы и специальные жидкости </p>
            <p>Схемы трансмиссии автомобилей с различными приводами </p>
            <p>Общее устройство и принцип работы сцепления </p>
            <p>Общее устройство и принцип работы механической коробки переключения передач </p>
            <p>Общее устройство и принцип работы автоматической коробки переключения передач </p>
            <p>Передняя и задняя подвески </p>
            <p>Конструкции и маркировка автомобильных шин </p>
            <p>Общее устройство и принцип работы тормозных систем </p>
            <p>Общее устройство и принцип работы системы рулевого управления </p>
            <p>Общее устройство и маркировка аккумуляторных батарей </p>
            <p>Общее устройство и принцип работы генератора </p>
            <p>Общее устройство и принцип работы стартера </p>
            <p>Общее устройство и принцип работы бесконтактной и микропроцессорной систем зажигания </p>
            <p>Общее устройство и принцип работы, внешних световых приборов и звуковых сигналов </p>
            <p>Классификация прицепов </p>
            <p>Общее устройство прицепа </p>
            <p>Виды подвесок, применяемых на прицепах </p>
            <p>Электрооборудование прицепа </p>
            <p>Устройство узла сцепки и тягово-сцепного устройства </p>
            <p>Контрольный осмотр и ежедневное техническое обслуживание автомобиля и прицепа </p>
            <p><strong>Устройство и техническое обслуживание транспортных средств категории "C" как объектов управления</strong></p>
            <p>Классификация автомобилей </p>
            <p>Общее устройство автомобиля </p>
            <p>Кабина, органы управления и контрольно-измерительные приборы, системы пассивной безопасности </p>
            <p>Общее устройство и принцип работы двигателя </p>
            <p>Кривошипно-шатунный и газораспределительный механизмы двигателя </p>
            <p>Система охлаждения двигателя </p>
            <p>Предпусковые подогреватели </p>
            <p>Система смазки двигателя </p>
            <p>Системы питания бензиновых двигателей </p>
            <p>Системы питания дизельных двигателей </p>
            <p>Системы питания двигателей от газобаллонной установки </p>
            <p>Горюче-смазочные материалы и специальные жидкости </p>
            <p>Схемы трансмиссии автомобилей с различными приводами </p>
            <p>Общее устройство и принцип работы однодискового и двухдискового сцепления </p>
            <p>Устройство гидравлического привода сцепления </p>
            <p>Устройство пневмогидравлического усилителя привода сцепления </p>
            <p>Общее устройство и принцип работы механической коробки переключения передач </p>
            <p>Общее устройство и принцип работы автоматической коробки переключения передач </p>
            <p>Передняя подвеска </p>
            <p>Задняя подвеска и задняя тележка </p>
            <p>Конструкции и маркировка автомобильных шин </p>
            <p>Общее устройство и состав тормозных систем </p>
            <p>Общее устройство тормозной системы с пневматическим приводом </p>
            <p>Общее устройство тормозной системы с пневмогидравлическим приводом </p>
            <p>Общее устройство и принцип работы системы рулевого управления с гидравлическим усилителем </p>
            <p>Общее устройство и принцип работы системы рулевого управления с электрическим усилителем </p>
            <p>Общее устройство и маркировка аккумуляторных батарей </p>
            <p>Общее устройство и принцип работы генератора </p>
            <p>Общее устройство и принцип работы стартера </p>
            <p>Общее устройство и принцип работы бесконтактной и микропроцессорной систем зажигания </p>
            <p>Общее устройство и принцип работы, внешних световых приборов и звуковых сигналов </p>
            <p>Общее устройство прицепа категории О1 </p>
            <p>Виды подвесок, применяемых на прицепах </p>
            <p>Электрооборудование прицепа </p>
            <p>Устройство узла сцепки и тягово-сцепного устройства </p>
            <p>Контрольный осмотр и ежедневное техническое обслуживание автомобиля и прицепа </p>
            <p>Организация и выполнение грузовых перевозок автомобильным транспортом </p>
            <p>Нормативные правовые акты, определяющие порядок перевозки грузов автомобильным транспортом </p>
            <p>Организация и выполнение пассажирских перевозок автомобильным транспортом </p>
            <p>Нормативное правовое обеспечение пассажирских перевозок автомобильным транспортом </p>
            <p>Информационные материалы </p>
            <p>Информационный стенд </p>
            <p>Закон Российской Федерации от 7 февраля 1992 г. № 2300-1 «О защите прав потребителей» </p>
            <p>Копия лицензии с соответствующим приложением </p>
            <p>Примерная программа профессиональной подготовки водителей транспортных средств категории «В» «С» </p>
            <p>Программа профессиональной подготовки водителей транспортных средств категории «В», «С» согласованная с Госавтоинспекцией </p>
            <p>Учебный план </p>
            <p>Календарный учебный график (на каждую учебную группу) </p>
            <p>Расписание занятий (на каждую учебную группу) </p>
            <p>График учебного вождения (на каждую учебную группу) </p>
            <p>Схемы учебных маршрутов, утвержденные руководителем организации, осуществляющей образовательную деятельность </p>
            <p>Книга жалоб и предложений </p>
            <p>Адрес официального сайта в сети «Интернет» </p></td>

        <td><p>комплект </p>
            <p>комплект </p>
            <p>комплект </p>
            <p>комплект </p>
            <p>комплект </p>
            <p>комплект </p>
            <p>комплект </p>
            <p>комплект </p>
            <p>комплект </p>
            <p>комплект </p>
            <p>комплект </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>шт </p>
            <p>ugraavto.ru </p></td>

        <td><p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p>
            <p>1 </p></td>

        <td></td>

    </tr>

    </tbody>

</table>

<p>Перечень материалов по предмету «Первая помощь при дорожно-транспортном происшествии» </p>

<table>

    <tbody>

    <tr>

        <td><p>Наименование учебных материалов </p></td>

        <td><p>Единица </p>
            <p>измерения </p></td>

        <td><p>Количество </p></td>

        <td><p>Наличие </p></td>

    </tr>

    <tr>
        <td colspan="4"><p>Оборудование </p></td>

    </tr>

    <tr>

        <td><p>Тренажер-манекен взрослого пострадавшего (голова, торс, конечности) с выносным электрическим контролером для отработки приемов сердечно-легочной реанимации </p></td>

        <td><p>комплект </p></td>

        <td><p>1 </p></td>

        <td></td>

    </tr>

    <tr>

        <td><p>Тренажер-манекен взрослого пострадавшего (голова, торс) без контролера для отработки приемов сердечно-легочной реанимации </p></td>

        <td><p>комплект </p></td>

        <td><p>1 </p></td>

        <td></td>

    </tr>

    <tr>

        <td><p>Тренажер-манекен взрослого пострадавшего для отработки приемов удаления инородного тела из верхних дыхательных путей </p></td>

        <td><p>комплект </p></td>

        <td><p>1 </p></td>

        <td></td>

    </tr>

    <tr>

        <td><p>Расходный материал для тренажеров (запасные лицевые маски, запасные «дыхательные пути», пленки с клапаном для проведения искусственной вентиляции легких) </p></td>

        <td><p>комплект </p></td>

        <td><p>20 </p></td>

        <td></td>

    </tr>

    <tr>

        <td><p>Мотоциклетный шлем </p></td>

        <td><p>штук </p></td>

        <td><p>1 </p></td>

        <td></td>

    </tr>

    <tr>
        <td colspan="4"><p>Расходные материалы </p></td>

    </tr>

    <tr>

        <td><p>Аптечка первой помощи (автомобильная) </p></td>

        <td><p>комплект </p></td>

        <td><p>8 </p></td>

        <td></td>

    </tr>

    <tr>

        <td><p>Табельные средства для оказания первой помощи. </p>
            <p>Устройства для проведения искусственной вентиляции легких: лицевые маски с клапаном различных моделей. </p>
            <p>Средства для временной остановки кровотечения – жгуты. </p>
            <p>Средства иммобилизации для верхних, нижних конечностей, шейного отдела позвоночника (шины). </p>
            <p>Перевязочные средства (бинты, салфетки, лейкопластырь) </p></td>

        <td><p>комплект </p></td>

        <td><p>1 </p></td>

        <td></td>

    </tr>

    <tr>

        <td><p>Подручные материалы, имитирующие носилочные средства, средства для остановки кровотечения, перевязочные средства, иммобилизирующие средства </p></td>

        <td><p>комплект </p></td>

        <td><p>1 </p></td>

        <td></td>

    </tr>

    <tr>
        <td colspan="4"><p>Учебно-наглядные пособия <a href="https://ugraavto.ru/webasyst/shop/?action=storefronts#_ftn18" name="_ftnref18"><sup><sup>[18]</sup></sup></a></p></td>

    </tr>

    <tr>

        <td><p>Учебные пособия по первой помощи пострадавшим в дорожно-транспортных происшествиях для водителей </p></td>

        <td><p>комплект </p></td>

        <td><p>18 </p></td>

        <td></td>

    </tr>

    <tr>

        <td><p>Учебные фильмы по первой помощи пострадавшим в дорожно-транспортных происшествиях </p></td>

        <td><p>комплект </p></td>

        <td><p>1 </p></td>

        <td></td>

    </tr>

    <tr>

        <td><p>Наглядные пособия: способы остановки кровотечения, сердечно-легочная реанимация, транспортные положения, первая помощь при скелетной травме, ранениях и термической травме </p></td>

        <td><p>комплект </p></td>

        <td><p>1 </p></td>

        <td></td>

    </tr>

    <tr>
        <td colspan="4"><p>Технические средства обучения </p></td>

    </tr>

    <tr>

        <td><p>Компьютер с соответствующим программным обеспечением </p></td>

        <td><p>комплект </p></td>

        <td><p>1 </p></td>

        <td></td>

    </tr>

    <tr>

        <td><p>Мультимедийный проектор </p></td>

        <td><p>комплект </p></td>

        <td><p>1 </p></td>

        <td></td>

    </tr>

    <tr>

        <td><p>Экран (электронная доска) </p></td>

        <td><p>комплект </p></td>

        <td><p>1 </p></td>

        <td></td>

    </tr>

    </tbody>

</table>

<p><strong>Информационно-методические и иные материалы:</strong></p>

<p>Учебный план </p>

<p>Календарный учебный график </p>

<p>Методические материалы и разработки: </p>

<p>соответствующая примерная программа профессиональной подготовки (переподготовки) водителей транспортных средств, утвержденная в установленном порядке </p>

<p>образовательная программа подготовки (переподготовки) водителей, согласованная с Госавтоинспекцией и утвержденная руководителем организации, осуществляющей образовательную деятельность<sup><sup>[19]</sup></sup></a></p>

<p>методические рекомендации по организации образовательного процесса, утвержденные руководителем организации, осуществляющей образовательную деятельность </p>

<p>материалы для проведения промежуточной и итоговой аттестации обучающихся, утвержденные руководителем организации, осуществляющей образовательную деятельность расписание занятий Схемы учебных маршрутов, утвержденных
    организацией, осуществляющей образовательную деятельность (за исключением программ подготовки водителей транспортных средств категорий «М», «А», подкатегорий «А1», «В1») </p>

<p><strong>Сведения об оборудовании и технических средствах обучения:</strong></p>

<p>Компьютер с соответствующим программным обеспечением обучения водителей транспортных средств категорий В и подкатегории в количестве 32 шт </p>

<p><strong> Соответствие требованиям Федерального закона «О безопасности дорожного движения»
    <sup><strong><sup>[20]</sup></strong></sup></a></strong></p>

<p>Проведение мероприятий, направленных на обеспечение соответствия технического состояния транспортных средств требованиям безопасности дорожного движения и запрещения допуска транспортных средств к эксплуатации при
    наличии у них неисправностей, угрожающих безопасности дорожного движения<sup><sup>[21]</sup></sup></a></p>

<p>Медицинское обеспечение безопасности дорожного движения<sup><sup>[22]</sup></sup></a>: </p>

<p>- обязательные предрейсовые медицинские осмотры </p>

<p><strong>Вывод о результатах самообследования: </strong></p>

<table>

    <tbody>

    <tr>

        <td></td>

    </tr>

    </tbody>

</table>

<p></p>

<p>Соответсвие<strong> Директор ЧУ ДПО УПЦПО</strong> Чайковский П П </p>

<p>[1] Количество обучающихся в год
    рассчитывается по формуле: К =(t*24,5*12* (Nтс-1))/Т, где К – количество обучающихся в год; t – время работы одного учебного транспортного средства равно: 7,2 часа – один мастер производственного обучения на одно
    учебное транспортное средство, 14,4 часа – два мастера производственного обучения на одно учебное транспортное средство; 24,5 – среднее количество рабочих дней в месяц; 12 – количество рабочих месяцев в году; Nтс –
    количество автотранспортных средств; 1 – количество резервных учебных транспортных средств на случай поломки и т.п.; Т – количество часов вождения в соответствии с учебным планом. </p>

<p>[2]</span></span></a> Пункт 21.3 Правил дорожного движения
    Российской Федерации, утвержденных Постановлением Правительства Российской Федерации от 23 октября 1993 г. № 1090 "О правилах дорожного движения". </p>

<p>[3]</span></span></a> Подпункт 2) пункта 5 статьи 47
    Федерального закона от 29 декабря 2012 г. № 273-ФЗ «Об образовании в Российской Федерации»; Приказ Министерства образования и науки Российской Федерации от 1 июля 2013 г. № 499 "Об утверждении Порядка организации и
    осуществления образовательной деятельности по дополнительным профессиональным программам". </p>

<p>[4]</span></span></a> Раздел 3 Единого квалификационного
    справочника должностей руководителей, специалистов и служащих, раздел «Квалификационные характеристики должностей работников образования», утвержденного Приказом Минздравсоцразвития Российской Федерации от 26 августа
    2010 г. № 761н. </p>

<p>[5]</span></span></a> Подпункт 2) пункта 5 статьи 47
    Федерального закона от 29 декабря 2012 г. № 273-ФЗ «Об образовании в российской Федерации»; Приказ Министерства образования и науки Российской Федерации от 1 июля 2013 г. № 499 "Об утверждении Порядка организации и
    осуществления образовательной деятельности по дополнительным профессиональным программам". </p>

<p>[6]</span></span></a> При наличии двух и более закрытых
    площадок или автодромов данные сведения заполняются на каждую представленную площадку или автодром. </p>

<p>[7]</span></span></a> Размеры закрытой площадки или автодрома
    должны составлять не менее 0,24 га. </p>

<p>[8]</span></span></a> Использование колейной эстакады не
    допускается. </p>

<p>[9]</span></span></a> ГОСТ Р 50597-93 «Автомобильные дороги и
    улицы. Требования к эксплуатационному состоянию, допустимому по условиям обеспечения безопасности дорожного движения». </p>

<p>[10]</span></span></a> Конуса разметочные
    (ограничительные), стойки разметочные, вехи стержневые. Если размеры закрытой площадки или автодрома не позволяют одновременно разместить на их территории все учебные (контрольные) задания, предусмотренные Примерной
    программой водителей транспортных средств, то необходимо иметь съемное оборудование: конуса разметочные (ограничительные), стойки разметочные, вехи стержневые, столбики оградительные съемные, лента оградительная,
    разметка временная. </p>

<p>[11]</span></span></a> Освещенность должна быть не менее 20
    лк. Отношение максимальной освещенности к средней должно быть не более 3:1. Показатель ослепленности установок наружного освещения не должен превышать 150. </p>

<p>[12]</span></span></a> Расчетная формула для определения
    общего числа учебных групп в год: n=(0,75*Фпом*П)/Ргр </p>

<p>где n – общее число групп в год; 0,75 – постоянный коэффициент (загрузка учебного кабинета принимается равной 75 %); Фпом – фонд времени использования помещения в часах; П – количество оборудованных учебных кабинетов;
    Р<sub>гр</sub> – расчетное учебное время полного курса теоретического обучения на одну группу, в часах. </p>

<p>[13]</span></span></a> В соответствии с Примерными
    программами профессиональной подготовки водителей транспортных средств соответствующих категорий, подкатегорий, утвержденных приказом Минобрнауки России от 26 декабря 2013 г. № 1408, наполняемость учебной группы не
    должна превышать 30 человек. </p>

<p>[14]</span></span></a> В качестве тренажера может
    использоваться учебное транспортное средство. </p>

<p>[15]</span></span></a> Необходимость применения АПК
    тестирования и развития психофизиологических качеств водителя определяется организацией, осуществляющей образовательную деятельность. </p>

<p>[16]</span></span></a> Магнитная доска со схемой
    населенного пункта может быть заменена соответствующим электронным учебным пособием. </p>

<p>[17]</span></span></a> Указать, в каком виде представлено
    учебно-наглядное пособие: плакат, стенд, макет, планшет, модель, схема, кинофильм, видеофильм, мультимедийные слайды и т. п. </p>

<p><a href="https://ugraavto.ru/webasyst/shop/?action=storefronts#_ftnref18" name="_ftn18"><span class="MsoFootnoteReference"><span class="MsoFootnoteReference">[18]</span></span></a> Указать, в каком виде представлено
    учебно-наглядное пособие: плакат, стенд, макет, планшет, модель, схема, кинофильм, видеофильм, мультимедийные слайды и т. п. </p>

<p><a href="https://ugraavto.ru/webasyst/shop/?action=storefronts#_ftnref19" name="_ftn19"><span class="MsoFootnoteReference"><span class="MsoFootnoteReference">[19]</span></span></a> В соответствии с подпунктом 9 статьи
    2 Федерального закона «Об образовании в Российской Федерации» образовательная программа должна содержать основные характеристики образования (объем, содержание, планируемые результаты), организационно-педагогические
    условия, учебный план, календарный учебный график, рабочие программы учебных предметов. </p>

<p>[20]</span></span></a> В соответствии с пунктом с частью 1 статьи 16</a>, частью 1 статьи 20</a> Федерального закона от 10 декабря 1995 г. № 196-ФЗ "О безопасности
    дорожного движения". </p>

<p>[21]</span></span></a> Обеспечение технического состояния
    транспортных средств в соответствии с требованиями Основных положений. Прохождение транспортными средствами в установленном порядке технического осмотра. Проведение предрейсового контроля технического состояния
    транспортных средств. Организация технического обслуживания и ремонта используемых транспортных средств в соответствии с установленными требованиями, предписаниями изготовителя (статья 18 Федерального закона от 10
    декабря 1995 г. № 196-ФЗ "О безопасности дорожного движения"). Закрепление обязанностей и возложение ответственности за обеспечение требований безопасности дорожного движения за конкретными должностными лицами и
    работниками организации (проверяется наличие и содержание соответствующих приказов, распоряжений и т. д.). </p>

<p>[22]</span></span></a> В соответствии с требованиями статьи
    23 Федерального закона от 10 декабря 1995 г. № 196-ФЗ "О безопасности дорожного движения", Федерального закона</a> от 21 ноября 2011 г. № 323-ФЗ "Об основах охраны здоровья граждан в
    Российской Федерации" </p>